{% extends 'base.html' %}

{% block head %}

{% endblock head %}

{% block body %}
<table class="text-2xl font-bold text-gray-50">

    <tr>
        {% for store in store_items.keys() %}
        <th class="orders-tabel">{{ store }}</th>
        {% endfor %}
    </tr>
    <tr class="align-top">
        {% for items_amounts in store_items.values() %}
        <td class="orders-tabel">
            {% for item, amount in items_amounts.items() %}
            <p>{{ amount }}x {{ item }}</p>
            {% endfor %}
        </td>
        {% endfor %}
    </tr>
</table>
{% endblock body %}