{% extends 'base.html' %}

{% block body %}
    
    <table>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>
                    <form action="/order?store={{ store }}" method="POST">
                         <input type="hidden" id="id" name="id" value="{{ product.id }}">
                        <input type="number" name="amount" id="amount"/>
                        <input type="submit" value="Bestellen">
                    </form>
                </td>
            </tr>
        {% endfor %}

    </table>
    <h2>Deine Bestellungen:</h2>
     <table>
        <tr>
            <th>Zeit</th>
            <th>Item</th>
            <th>Menge</th>
            <th>Actions</th>
        </tr>
          {% for order in orders %}
         <tr>
             <td>{{ order.displayTime }}</td>
             <td>{{ order.itemName }}</td>
             <td>{{ order.amount }}</td>
             <td>{{ order.store}}</td>
             <td>
                 <a href="/cancel/{{ order.id }}?store={{ store }}">Abbrechen</a>

             </td>
         </tr>
           {% endfor %}
      </table>
 <!-- Gibts nen bessern weg um di

{% endblock body %}