{% extends 'base.html' %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='js/order.js')}}"></script>
{% endblock head %}

{% block body %}
<div class="grid grid-flow-col p-5">
    <div class="col-span-1">
        <form action="/order?store={{ store }}" method="POST">

            {% for product in products %}
            <div>
                <h2 class="font-bold text-xl">{{ product.name }}</h2>
                <input type="hidden" name="amount{{ product.id }}" id="amount{{ product.id }}" value=0>
                <p class="amount-counter" id="amount-display{{ product.id }}">Menge: 0</p>
                <button class="p-m-btn" type="button" onclick="chageAmount(-1, {{ product.id }} )">-</button>
                <button class="p-m-btn" type="button" onclick="chageAmount(1, {{ product.id }} )">+</button>

            </div>
            {% endfor %}

        </form>
    </div>
    <div class="col-span-2">
        <h2>Deine Bestellungen:</h2>
        <table>
            <tr>
                <th>Zeit</th>
                <th>Item</th>
                <th>Menge</th>
                <th>Actions</th>
            </tr>
            {% for order in orders %}
            <tr>
                <td>{{ order.displayTime }}</td>
                <td>
                    {% for item in order.itemNames %}
                    <p>{{ item }}</p>
                    {% endfor %}
                </td>
                <td>
                    {% for amount in order.amounts %}
                    <p>{{ amount }}</p>
                    {% endfor %}
                </td>
                <td>
                    <a href="/cancel/{{ order.id }}?store={{ store }}">Abbrechen</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock body %}