{% extends 'base.html' %}

{% block body %}
    
    <table>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>
                    <form action="/list?store={{ store }}" method="POST">
                         <input type="hidden" id="id" name="id" value="{{ product.id }}">
                        <input type="number" name="amount" id="amount"/>
                        <input type="submit" value="Bestellen">
                    </form>
                </td>
            </tr>
        {% endfor %}
        
    </table>

{% endblock body %}